html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 2.5em 0;
}

.Drag-situation {
  background-color: lightcoral;
  color: snow;
  font-weight: bold;
  max-width: 700px;
  width: 85%;
  margin: 0 auto;
  padding: 3em;
  border: 0.4em dashed slategray;
  cursor: grab;
  touch-action: none;
}

.Drag-situation:active {
  cursor: grabbing;
}
